[submodule "solidityCode/lib/forge-std"]
	path = solidityCode/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidityCode/lib/solmate"]
	path = solidityCode/lib/solmate
	url = https://github.com/transmissions11/solmate.git
[submodule "solidityCode/lib/OpenZepellin"]
	path = solidityCode/lib/OpenZepellin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "solidityCode/lib/ds-math"]
	path = solidityCode/lib/ds-math
	url = https://github.com/dapphub/ds-math.git
[submodule "solidityCode/lib/eigenlayer-contracts"]
	path = solidityCode/lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts.git
